Repository LeRon1605/business-flow-customization-be: changes, and which CircleCI parameters are due for each by the changed paths.
All: api-gateway, business-flow-service, hub-service, identity-service, submission-service, shared

fix: fix missed call get system field
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionQueryHandler.cs
Due: submission-service

feat: get current space out come
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Dtos/BusinessFlowDto.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Queries/GetLatestSpaceBusinessFlowOutComeQuery.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Queries/GetLatestSpaceBusinessFlowOutComeQueryHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlowAggregate/Repositories/IBusinessFlowVersionRepository.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Repositories/BusinessFlowVersionRepository.cs
  Services/BusinessFlow/Presentation/BusinessFlow.Api/Controllers/SpaceController.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionQueryHandler.cs
Due: business-flow-service, submission-service

feat: update logic sync form submission execution
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionQueryHandler.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Entities/FormSubmissionExecution.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Specifications/SubmissionByExecutionBlockSpecification.cs
  Services/Submission/Core/Submission.IntegrationEventHandlers/Handlers/ExecutionSubmissionCreatedIntegrationEventHandler.cs
  Services/Submission/Submission.Infrastructure.EfCore/Migrations/20240622043322_AddSubmissionExecutionBlock.Designer.cs
  Services/Submission/Submission.Infrastructure.EfCore/Migrations/20240622043322_AddSubmissionExecutionBlock.cs
Due: submission-service

remove in space when remove in tenant
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainServices/ISpaceDomainService.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainServices/SpaceDomainService.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Specifications/SpaceByTenantAndMemberSpecification.cs
  Services/BusinessFlow/Core/BusinessFlow.IntegrationEventHandlers/Handlers/RemoveUserInTenantIntegrationEventHandler.cs
  Services/Identity/Core/Identity.Application/DomainEventHandlers/RemoveUserInTenantDomainEventHandler.cs
  Services/Identity/Core/Identity.Domain/UserAggregate/DomainEvents/RemoveUserInTenantDomainEvent.cs
  Services/Identity/Core/Identity.Domain/UserAggregate/Entities/ApplicationUser.cs
  Services/Shared/IntegrationEvents/Identity/RemoveUserInTenantIntegrationEvent.cs
Due: business-flow-service, identity-service, shared

implement
  Services/Identity/Core/Identity.Application/DomainEventHandlers/RemoveUserInTenantDomainEventHandler.cs
Due: identity-service

fix: fix integration event remove user in tenant
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainServices/ISpaceDomainService.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainServices/SpaceDomainService.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Specifications/SpaceByTenantAndMemberSpecification.cs
  Services/BusinessFlow/Core/BusinessFlow.IntegrationEventHandlers/Handlers/RemoveUserInTenantIntegrationEventHandler.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Repositories/SpaceRepository.cs
Due: business-flow-service

feat: trigger deploy
  Services/Hub/Core/Hub.Application/Services/ConnectionManager.cs
Due: hub-service

feat: api delete submit form
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Commands/DeleteSubmitFormCommand.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Commands/DeleteSubmitFormCommandHandler.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/DomainServices/Abstracts/ISubmissionDomainService.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/DomainServices/SubmissionDomainService.cs
  Services/Submission/Presentation/Submission.Api/Controllers/SubmissionController.cs
Due: submission-service

fix: update logic delete submit form
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlowAggregate/DomainServices/BusinessFlowValidationDomainService.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Commands/DeleteSubmitFormCommandHandler.cs
Due: business-flow-service, submission-service

fix: fix query get outcome
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Repositories/BusinessFlowVersionRepository.cs
Due: business-flow-service

Add .circleci/config.yml
  .circleci/config.yml
Due: none

feat: trigger deploy
  Services/BusinessFlow/Core/BusinessFlow.Application/ApplicationAssemblyMarker.cs
Due: business-flow-service

feat: add permission
  Services/BusinessFlow/Core/BusinessFlow.Application/Seeders/SpacePermissionSeeder.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Dtos/SpaceDetailDto.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Queries/GetSpaceDetailQueryHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Entities/SpacePermission.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Entities/SpaceRole.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Specifications/SpacePermissionSpecification.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Configurations/SpacePermissionEntityConfiguration.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Configurations/SpaceRoleEntityConfiguration.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Migrations/20240624181810_AddSpacePermissionTable.Designer.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Migrations/20240624181810_AddSpacePermissionTable.cs
Due: business-flow-service

rename property
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Dtos/SpaceDetailDto.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Queries/GetSpaceDetailQueryHandler.cs
Due: business-flow-service

update seeder
  Services/BusinessFlow/Core/BusinessFlow.Application/Seeders/SpacePermissionSeeder.cs
Due: business-flow-service

feat: update access token expire setting
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Repositories/BusinessFlowVersionRepository.cs
  Services/Identity/Presentation/Identity.Api/appsettings.docker.json
Due: business-flow-service, identity-service

change publish
  Services/Submission/Core/Submission.Application/UseCases/Dtos/FormPublishDto.cs
  Services/Submission/Core/Submission.Application/UseCases/Forms/Commands/GenerateFormPublicLinkCommand.cs
  Services/Submission/Core/Submission.Application/UseCases/Forms/Commands/GenerateFormPublicLinkCommandHandler.cs
  Services/Submission/Core/Submission.Application/UseCases/Forms/Commands/PublishFormCommand.cs
  Services/Submission/Core/Submission.Application/UseCases/Forms/Commands/PublishFormCommandHandler.cs
  Services/Submission/Core/Submission.Domain/FormAggregate/DomainServices/FormDomainService.cs
  Services/Submission/Core/Submission.Domain/FormAggregate/DomainServices/IFormDomainService.cs
  Services/Submission/Core/Submission.Domain/FormAggregate/Entities/Form.cs
  Services/Submission/Core/Submission.Domain/Submission.Domain.csproj
  Services/Submission/Presentation/Submission.Api/Controllers/SpaceController.cs
  Services/Submission/Submission.Infrastructure.EfCore/Repositories/FormVersionRepository.cs
Due: submission-service

update structure
  Services/Search/Presentation/Search.Api/Program.cs
  Services/Search/Presentation/Search.Api/Properties/launchSettings.json
  Services/Search/Presentation/Search.Api/Search.Api.csproj
  Services/Search/Presentation/Search.Api/appsettings.development.json
  Services/Search/Presentation/Search.Api/appsettings.json
  business-flow-executor.sln
Due: none

feat: global search api
  ApiGateway/appsettings.development.json
  BuildingBlocks/Core/BuildingBlocks.Application/Dtos/PagedResultDto.cs
  BuildingBlocks/Core/BuildingBlocks.Application/InternalApis.cs
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.Cdc/CdcTrackingService.cs
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.Cdc/Models/CaptureTableStateModel.cs
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.Cdc/States/CdcStateService.cs
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.Cdc/States/ICdcStateService.cs
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.ElasticSearch/Plugins/elasticsearch-analysis-vietnamese-8.7.0.zip
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.Mail/EmailTemplateGenerator.cs
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.Mail/IEmailTemplateGenerator.cs
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.Mail/ServiceCollectionExtensions.cs
  Services/Hub/Presentation/Hub.Api/appsettings.development.json
  Services/Search/Core/Search.Application/Search.Application.csproj
  Services/Search/Core/Search.Application/SearchEngines/Services/IFormSubmissionSearchService.cs
  Services/Search/Core/Search.Application/SearchEngines/Services/ISpaceSearchService.cs
  Services/Search/Core/Search.Application/UseCases/Dtos/GlobalSearchQueryRequest.cs
  Services/Search/Core/Search.Application/UseCases/Dtos/GlobalSearchQueryResponse.cs
  Services/Search/Core/Search.Application/UseCases/Queries/GlobalSearchQuery.cs
  Services/Search/Core/Search.Application/UseCases/Queries/GlobalSearchQueryHandler.cs
  Services/Search/Infrastructure/Search.Infrastructure.ElasticSearch/IndexMappers/FormSubmissionIndexMapper.cs
  Services/Search/Infrastructure/Search.Infrastructure.ElasticSearch/IndexMappers/SpaceIndexMapper.cs
  Services/Search/Infrastructure/Search.Infrastructure.ElasticSearch/Services/FormSubmissionSearchService.cs
  Services/Search/Infrastructure/Search.Infrastructure.ElasticSearch/Services/SpaceSearchService.cs
  Services/Search/Presentation/Search.Api/Controllers/GlobalSearchController.cs
  Services/Search/Presentation/Search.Api/Extensions/ServiceCollectionExtensions.cs
  Services/Search/Presentation/Search.Api/Program.cs
  Services/Search/Presentation/Search.Api/Properties/launchSettings.json
  Services/Search/Presentation/Search.Api/Search.Api.csproj
  Services/Shared/Presentation/appsettings.shared.development.json
  Services/Shared/Presentation/appsettings.shared.docker.json
  docker-compose.yml
Due: api-gateway, hub-service, shared

update appsettings.development.json
  Services/Hub/Presentation/Hub.Api/appsettings.development.json
  Services/Hub/Presentation/Hub.Api/appsettings.docker.json
Due: hub-service

Path conditions:
  api-gateway: any of: ApiGateway/.*
  business-flow-service: any of: Services/BusinessFlow/.*
  hub-service: any of: Services/Hub/.*
  identity-service: any of: Services/Identity/.*
  submission-service: any of: Services/Submission/.*
  shared: (any of: Services/Shared/.*) or (any of: BuildingBlocks/.*)
