Repository LeRon1605/business-flow-customization-be: changes, and which CircleCI parameters are due for each by the changed paths.
All: api-gateway, business-flow-service, hub-service, identity-service, submission-service, shared

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            ApiGateway/.* api-gateway true
            Services/BusinessFlow/.* business-flow-service true
            Services/Hub/.* hub-service true
            Services/Identity/.* identity-service true
            Services/Submission/.* submission-service true
            Services/Shared/.* shared true
            BuildingBlocks/.* shared true
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue_config.yml

feat: trigger deploy
  BuildingBlocks/Shared/BuildingBlocks.Shared/Helpers/AssemblyHelper.cs
Due: shared

feat: trigger deploy hub
  Services/Hub/Presentation/Hub.Api/Program.cs
Due: hub-service

feat: trigger deploy
  .circleci/continue_config.yml
  Services/Hub/Presentation/Hub.Api/Program.cs
  publish.sh
Due: hub-service

feat: trigger deploy
  .circleci/continue_config.yml
  Services/Hub/Presentation/Hub.Api/Program.cs
Due: hub-service

feat: trigger deploy
  Services/Shared/Presentation/SharedPresentationAssemblyMarker.cs
Due: shared

feat: add notification for invitation accepted
  Services/Hub/Core/Hub.Application/Dtos/NotificationTemplateDto.cs
  Services/Hub/Hub.Infrastructure.SignalR/Services/NotificationSenderService.cs
  Services/Hub/Presentation/Hub.Api/wwwroot/NotificationTemplates/UserInvitationAccepted.Content.html
  Services/Hub/Presentation/Hub.Api/wwwroot/NotificationTemplates/UserInvitationAccepted.Title.html
  Services/Identity/Core/Identity.Application/DomainEventHandlers/UserAcceptedTenantInvitationDomainEventHandler.cs
  Services/Identity/Core/Identity.Application/UseCases/Tenants/Commands/CreateAccountTenantInvitationCommandHandler.cs
  Services/Shared/Application/Dtos/Notifications/Models/NotificationUserInvitationAcceptedModel.cs
  Services/Shared/Domain/Enums/NotificationType.cs
Due: hub-service, identity-service, shared

feat: update callback url setting
  Services/Identity/Presentation/Identity.Api/appsettings.docker.json
  docker-compose.prod.yml
Due: identity-service

feat: update current user info in accept invitation
  Services/Identity/Core/Identity.Application/UseCases/Tenants/Commands/AcceptTenantInvitationCommandHandler.cs
Due: identity-service

feat: update query all notification
  Services/Hub/Core/Hub.Application/Hub.Application.csproj
  Services/Hub/Core/Hub.Application/UseCases/Notifications/Dtos/NotificationPagingRequestDto.cs
  Services/Hub/Core/Hub.Application/UseCases/Notifications/Queries/GetNotificationQuery.cs
  Services/Hub/Core/Hub.Application/UseCases/Notifications/Queries/GetNotificationQueryHandler.cs
  Services/Hub/Core/Hub.Domain/NotificationAggregate/Repositories/INotificationRepository.cs
  Services/Hub/Hub.Infrastructure.MongoDb/Repositories/NotificationRepository.cs
  Services/Hub/Presentation/Hub.Api/Controllers/NotificationController.cs
Due: hub-service

feat: update submittable form dto
  ApiGateway/ApiGateway.csproj
  ApiGateway/Dtos/SubmittableFormDto.cs
  ApiGateway/Services/Abstracts/IFormService.cs
  ApiGateway/Services/FormService.cs
Due: api-gateway

feat: update FormService.cs
  ApiGateway/Services/FormService.cs
Due: api-gateway

feat: get incharge submissions
  ApiGateway/Clients/Abstracts/IBusinessFlowClient.cs
  ApiGateway/Clients/Abstracts/ISubmissionClient.cs
  ApiGateway/Clients/BusinessFlowClient.cs
  ApiGateway/Clients/SubmissionClient.cs
  ApiGateway/Controllers/SubmissionController.cs
  ApiGateway/Dtos/InChargeSubmissionDto.cs
  ApiGateway/Services/Abstracts/IFormService.cs
  ApiGateway/Services/FormService.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Dtos/AssignedSubmissionExecutionQueryDto.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Queries/GetAssignedSubmissionExecutionQuery.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Queries/GetAssignedSubmissionExecutionQueryHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SubmissionExecutionAggregate/Repositories/ISubmissionExecutionRepository.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SubmissionExecutionAggregate/Specifications/AssignedSubmissionExecutionSpecification.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Repositories/SubmissionExecutionRepository.cs
  Services/BusinessFlow/Presentation/BusinessFlow.Api/Controllers/BusinessFlowController.cs
  Services/Shared/Application/Application.csproj
  Services/Shared/Application/Dtos/SubmissionExecutions/AssignedSubmissionExecutionDto.cs
  Services/Shared/Application/Dtos/Submissions/Responses/BasicSubmissionDto.cs
  Services/Shared/Presentation/appsettings.shared.development.json
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Dtos/BasicSubmissionQueryDto.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Mappers/SubmissionMapper.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionDataQuery.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionDataQueryHandler.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionNotificationDataQueryHandler.cs
  Services/Submission/Presentation/Submission.Api/Controllers/SubmissionController.cs
Due: api-gateway, business-flow-service, submission-service, shared

feat: submission comment
  Services/Hub/Core/Hub.Application/DomainEventHandlers/CommentCreatedDomainEventHandler.cs
  Services/Hub/Core/Hub.Application/Hub.Application.csproj
  Services/Hub/Core/Hub.Application/UseCases/Comments/Commands/CreateSubmissionCommentCommand.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Commands/CreateSubmissionCommentCommandHandler.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Dtos/CommentDto.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Dtos/CreateSubmissionCommentDto.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Mappers/CommentMapper.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Queries/GetSubmissionCommentQuery.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Queries/GetSubmissionCommentQueryHandler.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/DomainEvents/CommentCreatedDomainEvent.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/DomainServices/CommentDomainService.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/DomainServices/ICommentDomainService.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/Entities/Comment.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/Entities/CommentMention.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/Enums/CommentEntity.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/Enums/MentionEntity.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/Repositories/ICommentRepository.cs
  Services/Hub/Core/Hub.Domain/Hub.Domain.csproj
  Services/Hub/Hub.Infrastructure.MongoDb/Repositories/CommentRepository.cs
  Services/Hub/Presentation/Hub.Api/Controllers/CommentController.cs
  Services/Shared/Domain/Enums/NotificationType.cs
Due: hub-service, shared

feat: add submission notification
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.MongoDb/Repositories/MongoDbRepository.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/BusinessFlow.Application.csproj
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Notifications/Dtos/PersonInChargeQueryDto.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Notifications/Mappers/BusinessFlowNotificationMapper.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Notifications/Queries/GetBusinessFlowNotificationDataQueryHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SubmissionExecutionAggregate/Specifications/SubmissionExecutionByIncludedSubmissionIdsSpecification.cs
  Services/Hub/Core/Hub.Application/Clients/Abstracts/IInternalBusinessFlowClient.cs
  Services/Hub/Core/Hub.Application/Clients/Abstracts/IInternalIdentityClient.cs
  Services/Hub/Core/Hub.Application/Clients/Abstracts/IInternalSubmissionClient.cs
  Services/Hub/Core/Hub.Application/Clients/InternalBusinessFlowClient.cs
  Services/Hub/Core/Hub.Application/Clients/InternalIdentityClient.cs
  Services/Hub/Core/Hub.Application/Clients/InternalSubmissionClient.cs
  Services/Hub/Core/Hub.Application/DomainEventHandlers/CommentCreatedDomainEventHandler.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Jobs/PushCommentNotificationBackGroundJob.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Jobs/PushCommentNotificationBackGroundJobHandler.cs
  Services/Hub/Core/Hub.Domain/Hub.Domain.csproj
  Services/Hub/Hub.Infrastructure.MongoDb/Repositories/CommentRepository.cs
  Services/Hub/Hub.Infrastructure.MongoDb/Repositories/NotificationRepository.cs
  Services/Hub/Hub.Infrastructure.SignalR/Services/NotificationSenderService.cs
  Services/Hub/Presentation/Hub.Api/Hub.Api.csproj
  Services/Hub/Presentation/Hub.Api/wwwroot/NotificationTemplates/SubmissionComment.Content.html
  Services/Hub/Presentation/Hub.Api/wwwroot/NotificationTemplates/SubmissionComment.Title.html
  Services/Hub/Presentation/Hub.Api/wwwroot/NotificationTemplates/SubmissionCommentMentioned.Content.html
  Services/Hub/Presentation/Hub.Api/wwwroot/NotificationTemplates/SubmissionCommentMentioned.Title.html
  Services/Identity/Core/Identity.Application/Identity.Application.csproj
  Services/Identity/Core/Identity.Application/UseCases/Notifications/Dtos/IdentityNotificationDataQueryDto.cs
  Services/Identity/Core/Identity.Application/UseCases/Notifications/Queries/GetUserNotificationDataQuery.cs
  Services/Identity/Core/Identity.Application/UseCases/Notifications/Queries/GetUserNotificationDataQueryHandler.cs
  Services/Identity/Core/Identity.Application/UseCases/Users/Dtos/UserBasicInfoDto.cs
  Services/Identity/Presentation/Identity.Api/Controllers/NotificationController.cs
  Services/Identity/Presentation/Identity.Api/Identity.Api.csproj
  Services/Shared/Application/Dtos/Notifications/Models/NotificationSubmissionCommentModel.cs
  Services/Shared/Application/Dtos/Notifications/Requests/GetBusinessFlowNotificationDataRequestDto.cs
  Services/Shared/Application/Dtos/Notifications/Responses/IdentityNotificationDataDto.cs
  Services/Shared/Application/Dtos/Notifications/Responses/SubmissionNotificationDataDto.cs
  Services/Shared/Application/Dtos/Submissions/Responses/BasicSubmissionDto.cs
  Services/Shared/Domain/Enums/NotificationType.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Dtos/BasicSubmissionQueryDto.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionNotificationDataQueryHandler.cs
Due: business-flow-service, hub-service, identity-service, submission-service, shared

feat: update logic push notification
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Notifications/Dtos/PersonInChargeQueryDto.cs
  Services/Hub/Core/Hub.Application/Clients/InternalIdentityClient.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Jobs/PushCommentNotificationBackGroundJobHandler.cs
  Services/Hub/Presentation/Hub.Api/appsettings.development.json
  Services/Hub/Presentation/Hub.Api/appsettings.docker.json
  Services/Hub/Presentation/Hub.Api/appsettings.json
  Services/Shared/Application/Dtos/Notifications/Requests/GetSubmissionNotificationDataRequestDto.cs
  Services/Shared/Presentation/appsettings.shared.development.json
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionNotificationDataQuery.cs
  Services/Submission/Presentation/Submission.Api/Controllers/NotificationController.cs
Due: business-flow-service, hub-service, submission-service, shared

feat: update metadata
  Services/Hub/Hub.Infrastructure.SignalR/Services/NotificationSenderService.cs
Due: hub-service

feat: update priority for mention user
  Services/Hub/Core/Hub.Application/UseCases/Comments/Jobs/PushCommentNotificationBackGroundJobHandler.cs
Due: hub-service

feat: edit, delete comment
  Services/Hub/Core/Hub.Application/UseCases/Comments/Commands/DeleteCommentCommand.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Commands/DeleteCommentCommandHandler.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Commands/UpdateCommentCommand.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Commands/UpdateCommentCommandHandler.cs
  Services/Hub/Core/Hub.Application/UseCases/Comments/Dtos/UpdateCommentDto.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/DomainServices/CommentDomainService.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/DomainServices/ICommentDomainService.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/Entities/Comment.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/Exceptions/CommentNotFoundException.cs
  Services/Hub/Core/Hub.Domain/CommentAggregate/Repositories/ICommentRepository.cs
  Services/Hub/Core/Hub.Domain/Hub.Domain.csproj
  Services/Hub/Hub.Infrastructure.MongoDb/Repositories/CommentRepository.cs
  Services/Hub/Presentation/Hub.Api/Controllers/CommentController.cs
  Services/Shared/Domain/ErrorCodes.cs
Due: hub-service, shared

add member in space
  Services/BusinessFlow/Core/BusinessFlow.Application/DomainEventHandlers/SpaceBasicInfoUpdateDomainEventHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Commands/UpdateRoleSpaceMemberCommand.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Commands/UpdateRoleSpaceMemberCommandHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Queries/GetAllMembersInSpaceQuery.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Queries/GetAllMembersInSpaceQueryHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlow.Domain.csproj
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainEvents/SpaceBasicInfoUpdateDomainEvent.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainServices/ISpaceDomainService.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainServices/SpaceDomainService.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Entities/Space.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Entities/SpaceMember.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Exceptions/SpaceMemberNotFoundException.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Specifications/FilterAndPagingSpaceMemberRequestDto.cs
  Services/BusinessFlow/Presentation/BusinessFlow.Api/Controllers/SpaceController.cs
  Services/Shared/Domain/ErrorCodes.cs
Due: business-flow-service, shared

fix: update logic remove user from tenant
  Services/Identity/Core/Identity.Domain/UserAggregate/Entities/ApplicationUser.cs
Due: identity-service

manage space
  Services/BusinessFlow/Core/BusinessFlow.Application/DomainEventHandlers/AddMemberInSpaceEventHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Queries/GetAllMembersInSpaceQuery.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Queries/GetAllMembersInSpaceQueryHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Queries/GetListMemberInSpaceQuery.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Queries/GetListMemberInSpaceQueryHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlow.Domain.csproj
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainEvents/AddMemberInSpaceEvent.cs
  Services/BusinessFlow/Presentation/BusinessFlow.Api/Controllers/SpaceController.cs
Due: business-flow-service

feat: add notification for member added to space
  Services/BusinessFlow/Core/BusinessFlow.Application/BusinessFlow.Application.csproj
  Services/BusinessFlow/Core/BusinessFlow.Application/DomainEventHandlers/MemberAddedToSpaceDomainEventHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Jobs/PushNotificationMemberAddedToSpaceBackGroundJob.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Jobs/PushNotificationMemberAddedToSpaceBackGroundJobHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/DomainEvents/MemberAddedToSpaceDomainEvent.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Entities/Space.cs
  Services/Hub/Hub.Infrastructure.SignalR/Services/NotificationSenderService.cs
  Services/Hub/Presentation/Hub.Api/Hub.Api.csproj
  Services/Hub/Presentation/Hub.Api/wwwroot/NotificationTemplates/MemberAddedToSpace.Content.html
  Services/Hub/Presentation/Hub.Api/wwwroot/NotificationTemplates/MemberAddedToSpace.Title.html
  Services/Shared/Application/Dtos/Notifications/Models/NotificationMemberAddedToSpaceModel.cs
  Services/Shared/Domain/Enums/NotificationType.cs
Due: business-flow-service, hub-service, shared

feat: update logic query form by public token
  Services/Submission/Core/Submission.Application/UseCases/Forms/Queries/GetPublicFormQueryHandler.cs
  Services/Submission/Core/Submission.Domain/FormAggregate/Repositories/IFormVersionRepository.cs
  Services/Submission/Submission.Infrastructure.EfCore/Repositories/FormVersionRepository.cs
Due: submission-service

feat: update logic generate public token
  Services/Submission/Core/Submission.Application/UseCases/Forms/Commands/GenerateFormPublicLinkCommandHandler.cs
  Services/Submission/Core/Submission.Domain/FormAggregate/DomainServices/FormDomainService.cs
  Services/Submission/Core/Submission.Domain/FormAggregate/DomainServices/IFormDomainService.cs
  Services/Submission/Core/Submission.Domain/FormAggregate/Entities/Form.cs
  Services/Submission/Submission.Infrastructure.EfCore/Migrations/20240616050459_UpdateFormPublicToken.Designer.cs
  Services/Submission/Submission.Infrastructure.EfCore/Migrations/20240616050459_UpdateFormPublicToken.cs
Due: submission-service

feat: api submit external
  Services/Shared/Domain/Identities/AppUser.cs
  Services/Submission/Core/Submission.Application/UseCases/Dtos/FormVersionDto.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Commands/SubmitFormExternalCommand.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Commands/SubmitFormExternalCommandHandler.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Dtos/SubmitFormDto.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Mappers/SubmissionMapper.cs
  Services/Submission/Presentation/Submission.Api/Controllers/SubmissionController.cs
  Services/Submission/Submission.Infrastructure.EfCore/Repositories/FormVersionRepository.cs
Due: submission-service, shared

feat: send email to tracking user
  Services/Hub/Presentation/Hub.Api/wwwroot/EmailTemplates/FormSubmissionTracking.html
  Services/Submission/Core/Submission.Application/DomainEventHandlers/FormSubmissionTrackingEmailCreatedDomainEventHandler.cs
  Services/Submission/Core/Submission.Application/Services/Dtos/PublicFormSetting.cs
  Services/Submission/Core/Submission.Application/Submission.Application.csproj
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/DomainEvents/FormSubmissionTrackingEmailCreatedDomainEvent.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/DomainServices/SubmissionDomainService.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Entities/FormSubmission.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Models/SubmissionModel.cs
  Services/Submission/Presentation/Submission.Api/appsettings.development.json
  Services/Submission/Presentation/Submission.Api/appsettings.docker.json
  Services/Submission/Submission.Infrastructure.EfCore/Migrations/20240616075622_AddTrackingToken.Designer.cs
  Services/Submission/Submission.Infrastructure.EfCore/Migrations/20240616075622_AddTrackingToken.cs
Due: hub-service, submission-service

feat: update logic send mail to tracker
  Services/Submission/Core/Submission.Application/DomainEventHandlers/FormSubmissionTrackingEmailCreatedDomainEventHandler.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Dtos/SubmitFormDto.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/DomainServices/SubmissionDomainService.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Models/SubmissionModel.cs
Due: submission-service

feat: get submission by tracking
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionByTrackingTokenQuery.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionByTrackingTokenQueryHandler.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Exceptions/SubmissionNotFoundException.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Repositories/IFormSubmissionRepository.cs
  Services/Submission/Presentation/Submission.Api/Controllers/SubmissionController.cs
  Services/Submission/Submission.Infrastructure.EfCore/Repositories/FormSubmissionRepository.cs
Due: submission-service

feat: update query
  Services/Submission/Submission.Infrastructure.EfCore/Repositories/FormSubmissionRepository.cs
Due: submission-service

feat: update query get public form
  Services/Submission/Submission.Infrastructure.EfCore/Repositories/FormVersionRepository.cs
Due: submission-service

feat: return tracking email
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Dtos/SubmissionDto.cs
Due: submission-service

delete item
  BuildingBlocks/Core/BuildingBlocks.Domain/Models/FullAuditableTenantAggregateRoot.cs
  BuildingBlocks/Core/BuildingBlocks.Domain/Models/Interfaces/IFullAuditableTenantAggregateRoot.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Commands/DeleteMemberInSpaceCommand.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Commands/DeleteMemberInSpaceCommandHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Commands/DeleteSpaceCommand.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Commands/DeleteSpaceCommandHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/Spaces/Dtos/SpaceQueryDto.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Entities/Space.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Repositories/ISpaceRepository.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/SpaceAggregate/Specifications/SpaceByMemberSpecification.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Migrations/20240616100313_AddSoftDeleteForSpace.Designer.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Migrations/20240616100313_AddSoftDeleteForSpace.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Repositories/SpaceRepository.cs
  Services/BusinessFlow/Presentation/BusinessFlow.Api/Controllers/SpaceController.cs
Due: business-flow-service, shared

feat: refactor code
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Dtos/BusinessFlowDto.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Dtos/BusinessFlowVersionDto.cs
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Jobs/SubmissionExecutionPublishIntegrationEventJobHandler.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlowAggregate/Entities/BusinessFlowVersion.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlowAggregate/Repositories/IBusinessFlowVersionRepository.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlowAggregate/Specifications/BusinessFlowByIdSpecification.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlowAggregate/Specifications/PublishedBusinessFlowVersionSpecification.cs
  Services/BusinessFlow/Core/BusinessFlow.Domain/BusinessFlowAggregate/Specifications/SpaceBusinessFlowVersionSpecification.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Migrations/20240616102923_AddSoftDeleteForBusinessFlowVersion.Designer.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Migrations/20240616102923_AddSoftDeleteForBusinessFlowVersion.cs
  Services/BusinessFlow/Infrastructure/BusinessFlow.Infrastructure.EfCore/Repositories/BusinessFlowVersionRepository.cs
  Services/Shared/IntegrationEvents/BusinessFlow/ExecutionSubmissionCreatedIntegrationEvent.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Dtos/SubmissionDto.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Entities/FormSubmission.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Entities/FormSubmissionExecution.cs
  Services/Submission/Core/Submission.IntegrationEventHandlers/Handlers/ExecutionSubmissionCreatedIntegrationEventHandler.cs
  Services/Submission/Submission.Infrastructure.EfCore/Configurations/FormSubmissionExecutionEntityConfiguration.cs
  Services/Submission/Submission.Infrastructure.EfCore/Migrations/20240616101722_AddFormSubmissionExecution.Designer.cs
  Services/Submission/Submission.Infrastructure.EfCore/Migrations/20240616101722_AddFormSubmissionExecution.cs
Due: business-flow-service, submission-service, shared

fix
  Services/BusinessFlow/Core/BusinessFlow.Application/UseCases/BusinessFlows/Jobs/SubmissionExecutionPublishIntegrationEventJobHandler.cs
Due: business-flow-service

feat: update DI
  Services/Submission/Core/Submission.IntegrationEventHandlers/Handlers/ExecutionSubmissionCreatedIntegrationEventHandler.cs
Due: submission-service

fix: update base query
  BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.EfCore/Repositories/EfCoreSpecificationRepository.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Repositories/IFormSubmissionExecutionRepository.cs
  Services/Submission/Core/Submission.IntegrationEventHandlers/Handlers/ExecutionSubmissionCreatedIntegrationEventHandler.cs
  Services/Submission/Submission.Infrastructure.EfCore/Repositories/FormSubmissionExecutionRepository.cs
Due: submission-service, shared

feat: update logic sync
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Entities/FormSubmissionExecution.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Repositories/IFormSubmissionExecutionRepository.cs
  Services/Submission/Core/Submission.IntegrationEventHandlers/Handlers/ExecutionSubmissionCreatedIntegrationEventHandler.cs
  Services/Submission/Submission.Infrastructure.EfCore/Repositories/FormSubmissionExecutionRepository.cs
Due: submission-service

feat: add support filter for system fields
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Dtos/SubmissionFilterRequestDto.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Enums/SubmissionFilterFieldType.cs
  Services/Submission/Core/Submission.Application/UseCases/Submissions/Queries/GetSubmissionQueryHandler.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Entities/FormSubmissionExecution.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Enums/SubmissionDataSource.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Specifications/SubmissionByCreatedAtSpecification.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Specifications/SubmissionByCreatorSpecification.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Specifications/SubmissionByDataSourceSpecification.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Specifications/SubmissionByExecutionSpecification.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Specifications/SubmissionByUpdatedAtSpecification.cs
  Services/Submission/Core/Submission.Domain/SubmissionAggregate/Specifications/SubmissionByUpdaterSpecification.cs
Due: submission-service
